<div class='detail-container'>
    <div class='detail-container-information text-white text-center'>
        <h6 class='pt-5'>{{authorTitle}}</h6>
        <img src='assets/images/profile.jpg' class='mx-auto d-block rounded-circle'/>
        <h6 class='pt-5'>{{authorIntroduction}}</h6>
        <button class="btn btn-outline-primary mb-2 mr-2 link-display-lg" (click)="openVerticallyCentered(content)">
            <fa-icon [icon]="['far', 'envelope']" size='2x' title={{authorEmail}}></fa-icon>
        </button>
        <a href='#' class='float-right text-warning pt-2 pr-2 link-display-sm'>
            <fa-icon [icon]="['fas', 'home']" size='2x'></fa-icon>
        </a>
    </div>  
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Work Experience</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <embed width="100%" height="500" src="assets/Resume.pdf">
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
  </ng-template>